.gallery {
	width: 1128px;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;

	list-style-type: none;
}

.gallery-item {
	width: calc((100% - 48px) / 3);
	height: 200px;
	position: relative;

	transition: transform 0.15s ease;
}

.gallery-item:hover {
	transform: scale(1.044);
}

.gallery-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}