* {
	box-sizing: border-box;
}

.feedback-form {
	width: 360px;
	margin: auto;
	text-align: left;
}

.feedback-form label {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 8px;

	font-family: "Montserrat", sans-serif;
	letter-spacing: 0.04em;
	color: #2e2f42;
}

.feedback-form label:last-of-type {
	margin-bottom: 16px;
}

.feedback-form input, .feedback-form textarea {
	border: 1px solid #808080;
	border-radius: 4px;
	height: 40px;
	padding-left: 16px;

	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #2e2f42;
}

.feedback-form input:hover, .feedback-form textarea:hover {
	border: 1px solid #000;
}

.feedback-form input:focus, .feedback-form textarea:focus {
	outline: none;
}

.feedback-form textarea {
	height: 80px;
	resize: none;
}

.feedback-form button {
	width: 95px;
	height: 40px;

	border: none;
	border-radius: 8px;
	padding: 8px 16px;
	background: #4e75ff;

	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.04em;
	color: #fff;
}

.feedback-form button:hover {
	background: #6c8cff;
}